body {
     background-image: url('/images/e-football.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     background-attachment: fixed;
     margin: 0;
     padding: 0;
     
}

header {
     background-color: #1e272e;
     top: 0;
     height: 60px;
     position: fixed;
     width: 100%;
     display: flex;
     justify-content: space-around;
     align-items: center;
     /* padding: 0 20px; */
     z-index: 100;
}

.nav-img {
     height: 30px;
     width: 30px;
     border-radius: 50%;

}

header button {
     border: none;
     height: 30px;
     width: 30px;
     border-radius: 20px;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: transparent;
}

header button:hover {
     background-color: #2980b9;
}

.container1 {
     /* display: flex; */
     /* text-align: center; */
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 50px 0;
}

.welcome-p {
     text-align: center;
     color: white;
     margin: 50px 0;
     display: none;

}


.card1,
.card2,
.card3 {
     border-radius: 15px;
     margin: 20px;
     padding: 20px;
     box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


/* card 1 */
.card1 {
     background-color: #fbc531;
     max-width: 400px;
     width: 100%;
     display: flex;
     /* display: none; */
     flex-direction: column;
     flex-wrap: wrap;
     gap: 12;
     column-gap: 20px;
     align-items: center;
     justify-content: center;
}

.team-logo {
     height: 240px;
     /* width: calc(100%-10px); */
     width: 200px;
     border-radius: 10px;
     /* background-color: #2980b9; */
     padding: 10px;
}

.team-logo img {
     height: 100%;
     width: 100%;
}

.card1-1 {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}

.card1-1,
.info {
     flex: 1;
     /* Equal flex-grow for both, they'll take equal space */
     width: 100%;
     /* Take up full width */
     max-width: 100%;
     /* Take up full width */
}

.card1-1 p {
     text-align: center;
}

.info p {
     color: red;
}

.user-registration-table {
     margin-top: 20px;
     padding: 20px;
     background-color: #f9f9f9;
     border-radius: 10px;
 }
 
 .table-registration {
     width: 100%;
     border-collapse: collapse;
 }
 
 .table-registration th, .table-registration td {
     border: none;
     padding: 10px;
     text-align: left;
 }
 
 
 .head-td{
color: red;
 }
 .child-td{
color: green;
 }

@media(min-width: 768px) {
     .card1 {
          flex-direction: row;
          /* Change to row layout on larger screens */
     }
}

/* card 2 */
.card2 {
     background-color: #44bd32;
     max-width: 400px;
     width: 100%;
     display: none;
}

.card2 h2 {
     display: flex;
     align-items: center;
     justify-content: center;
     color: #141435;
}

.match-flex {
     display: flex;
     align-items: center;
     justify-content: center;
}

.card2-matches-details {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
}

.match-info {
     display: flex;
     align-items: center;
     justify-content: center;

}

.match-info h4 {
     margin: 0px 10px;
}

.match-team-card {
     height: 75px;
     width: 60px;
     padding: 5px;
     border-radius: 10px;
     text-align: center;

     background-color: red;
}

.match-team-card p {
     font-size: 8px;
     font-weight: bold;
     color: #ff0000;
}

.match-team-image {
     height: 100%;
     width: 100%;
     transition: 0.8s;
     cursor: pointer;
}

.match-team-image:hover {
     transform: scale(1.15);

}

.col{
     display: flex;
     align-items: center;
     justify-content: center;
}

/* card 3 */
.card3 {
     background-color: #2980b9;
     max-width: 700px;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     display: none;

}
.match-team--intable{
     height: 30px;
     width: 30px;
     text-align: center;
}
.match-team-image-intable{
     height: 100%;
     width: 100%;
}
.match-team--intable p{
     font-size: 5px;
     font-weight: bold;
}
.table-league{
     background-color: #f9f9f9;
     width: 100%;
     border-collapse: collapse;
}
.user-club-row{
background-color:#44bd32;
}
.table-league th, .table-league td {
     border: 1px solid #ccc;
     padding: 10px;
     text-align: left;
 }
 .table-league th {
     background-color: #f0f0f0;
 }


/* loding process */
 #loading-overlay2 {
     display: none;
     position: fixed;
     top:  59px;
     left: 0;
     width: 100%;
     height: 100%;
     background-image: url('/images/pes.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     /* background: rgba(0, 0, 0, 0.5); */
     z-index: 9999;
   }
   
   .spinner {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 50px;
     height: 50px;
     border: 5px solid #f3f3f3;
     border-top: 5px solid #3498db;
     border-radius: 50%;
     animation: spin 1s linear infinite;
   }
   
   @keyframes spin {
     0% { transform: translate(-50%, -50%) rotate(0deg); }
     100% { transform: translate(-50%, -50%) rotate(360deg); }
   }
   