body {
   font-family: Arial, sans-serif;
   background-image: url('/images/pes.jpg');
   background-repeat: no-repeat;
   background-size: cover; 
   /* background-position: center center;  */
   font-family: 'Roboto Condensed', sans-serif;
   min-height: 100vh; 
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
margin: 0;


}


h1{
   display: block;
   
}

.container1 {
/* margin: auto; */
margin-top: 10px;
display: flex;
align-items: center;
justify-content: center;
}
/* @media screen and (max-width:550px) {
   .container{
margin-left: 70px;
   }
   
} */
.card1{
   padding: 20px;
   text-align: center;
   /* height: 200px; */
   background-color: rgba(142, 153, 184, 0.842);
   border-radius: 10px;
   border: 3px solid yellow;
   box-shadow:1px 1px 10px 10px rgb(11, 30, 207);
}
.image{
   align-items: center;
}
.logo{
   height: 80px;
   width: 80px;
   border-radius: 40px;
}
.btn-container {
   display: flex;
   justify-content: center;
   gap: 20px;
   margin-top: 20px;
}

.btn {
   background-color: #007bff;
   color: #0a0303fc;
   border: none;
   padding: 10px 20px;
   border-radius: 5px;
   text-decoration: none;
   font-size: 18px;
   transition: background-color 0.3s;
}

.btn:hover {
   background-color: #0056b3;
}

a{
   text-decoration: none;
}

/* audio.css */
.audio-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 20px;
 }
 
 #background-audio {
   width: 100%;
   max-width: 400px; /* Adjust the width as needed */
 }
 
 .play-button {
   margin-top: 10px;
   padding: 10px 20px;
   font-size: 16px;
   background-color: #007bff; /* Blue color, you can customize */
   color: #fff; /* Text color */
   border: none;
   border-radius: 5px;
   cursor: pointer;
   outline: none;
 }
 
 .play-button:hover {
   background-color: #0056b3; /* Darker blue on hover */
 }
 .button-contanier button{
   border: none;
   margin: 15px;
   padding: 5px 15px;

   border-radius: 3px;
   font-weight: bold;
   background-color: #0056b3;
   color: #fff;
 }
 .button-contanier button:hover{
  background-color: #007bff;
 }
 