 /* Your CSS styles here */
 body {
   background-image: url('/images/e-football.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
 }
 .registration-container {
   background-color: rgba(1, 29, 29, 0.708);
   padding: 20px;
   border-radius: 5px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   width: 300px;
   text-align: center;
   margin: 20px;
 }
 .registration-container .error_message{
  color: red;

}
 
 .registration-container button {
   width: 100%;
   padding: 10px;
   background-color: #007bff;
   color: white;
   border: none;
   border-radius: 3px;
   cursor: pointer;
 }
 h2{
  color: white;
 }
 .registration-container button:hover {
  background-color: #0a4a8b;
}
.registration-container p {
  color: white;

}
.registration-container a {
  /* display: inline; */
  /* margin-top: 10px; */
  color: #ddd;
  text-decoration: none;
  font-size: 14px;
}
.registration-container a:hover {
  color: rgb(0, 4, 255);
}
.taken{
  color: red;
}
form select{
background-color: white;
}
.error_message{
  color: red;

}
